<a href="https://colab.research.google.com/github/mburu-mwangi/thyroid-tests/blob/main/Moringa_Data_Science_Core_W8_Independent_Project_2021_10_Alfonce_Mwangi_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Defining the Question

### a) Specifying the Data Analytic Question

> During production, The Wine Company, would like to determine the quality of its red wine based on several characteristics. Build a model to predict the quality of wine correctly. You can reduce the data using either PCA or LDA algorithms.

### b) Defining the Metric for Success

### c) Understanding the context

### d) Recording the Experimental Design

### e) Data Relevance

## 2. Reading the Data

### Importing the various libraries needed

In [ ]:
# analysis tools
import pandas as pd
import numpy as np
import scipy.stats as stats

# visualization tools
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### Function Toolbox

In [ ]:
# sns.set(rc = {'figure.figsize':(15,15)})

### Loading the datasets

In [ ]:
# Loading the Data from the source 
# 
thyroid_health = pd.read_csv('/content/hypothyroid.csv')

thyroid_health.head()

        status age sex on_thyroxine  ... FTI_measured FTI TBG_measured TBG
0  hypothyroid  72   M            f  ...            y  10            n   ?
1  hypothyroid  15   F            t  ...            y  17            n   ?
2  hypothyroid  24   M            f  ...            y   0            n   ?
3  hypothyroid  24   F            f  ...            y   6            n   ?
4  hypothyroid  77   M            f  ...            y  44            n   ?

[5 rows x 26 columns]

## 3. Checking the Data

In [ ]:
# Determining the no. of records in our dataset
#
print('The Thyroid Health dataset has: ',thyroid_health.shape[0],'Rows and ',thyroid_health.shape[1],'Columns')

The Thyroid Health dataset has:  3163 Rows and  26 Columns

In [ ]:
# Previewing the top of our dataset
#
thyroid_health.head()

        status age sex on_thyroxine  ... FTI_measured FTI TBG_measured TBG
0  hypothyroid  72   M            f  ...            y  10            n   ?
1  hypothyroid  15   F            t  ...            y  17            n   ?
2  hypothyroid  24   M            f  ...            y   0            n   ?
3  hypothyroid  24   F            f  ...            y   6            n   ?
4  hypothyroid  77   M            f  ...            y  44            n   ?

[5 rows x 26 columns]

In [ ]:
# Previewing the bottom of our dataset
# 
thyroid_health.tail()

        status age sex on_thyroxine  ... FTI_measured  FTI TBG_measured TBG
3158  negative  58   F            f  ...            y   95            n   ?
3159  negative  29   F            f  ...            y   98            n   ?
3160  negative  77   M            f  ...            y  104            n   ?
3161  negative  74   F            f  ...            y  137            n   ?
3162  negative  56   F            t  ...            y  143            n   ?

[5 rows x 26 columns]

In [ ]:
# Checking whether each column has an appropriate datatype
#
thyroid_health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3163 entries, 0 to 3162
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   status                     3163 non-null   object
 1   age                        3163 non-null   object
 2   sex                        3163 non-null   object
 3   on_thyroxine               3163 non-null   object
 4   query_on_thyroxine         3163 non-null   object
 5   on_antithyroid_medication  3163 non-null   object
 6   thyroid_surgery            3163 non-null   object
 7   query_hypothyroid          3163 non-null   object
 8   query_hyperthyroid         3163 non-null   object
 9   pregnant                   3163 non-null   object
 10  sick                       3163 non-null   object
 11  tumor                      3163 non-null   object
 12  lithium                    3163 non-null   object
 13  goitre                     3163 non-null   object
 14  TSH_measured               3163 non-null   object
 15  TSH                        3163 non-null   object
 16  T3_measured                3163 non-null   object
 17  T3                         3163 non-null   object
 18  TT4_measured               3163 non-null   object
 19  TT4                        3163 non-null   object
 20  T4U_measured               3163 non-null   object
 21  T4U                        3163 non-null   object
 22  FTI_measured               3163 non-null   object
 23  FTI                        3163 non-null   object
 24  TBG_measured               3163 non-null   object
 25  TBG                        3163 non-null   object
dtypes: object(26)
memory usage: 642.6+ KB

## 4. External Data Source Validation

### a.Validation

The following link gives a summary of the various thyroid tests [thyroid_tests](https://https://www.niddk.nih.gov/health-information/diagnostic-tests/thyroid)

## 5. Tidying the Dataset

In [8]:
thyroid_health.columns

Index(['status', 'age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
       'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid',
       'query_hyperthyroid', 'pregnant', 'sick', 'tumor', 'lithium', 'goitre',
       'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4',
       'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG'],
      dtype='object')

In [12]:
# Changing the data types for numeric columns to int format
#

thyroid_health[['age','TSH','T3','TT4','T4U','FTI','TBG']]=thyroid_health[['age','TSH','T3','TT4','T4U','FTI','TBG']].apply(pd.to_numeric,errors='coerce')
thyroid_health.dtypes

status                        object
age                          float64
sex                           object
on_thyroxine                  object
query_on_thyroxine            object
on_antithyroid_medication     object
thyroid_surgery               object
query_hypothyroid             object
query_hyperthyroid            object
pregnant                      object
sick                          object
tumor                         object
lithium                       object
goitre                        object
TSH_measured                  object
TSH                          float64
T3_measured                   object
T3                           float64
TT4_measured                  object
TT4                          float64
T4U_measured                  object
T4U                          float64
FTI_measured                  object
FTI                          float64
TBG_measured                  object
TBG                          float64
dtype: object

In [13]:
# Fetching the columns with numerical data
#
numerical_cols = [col for col in thyroid_health if thyroid_health[col].dtypes !='O']
numerical_cols

['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'TBG']

In [14]:
# Fetching the columns with categorical data
#
categorical_cols = [col for col in thyroid_health if thyroid_health[col].dtypes == 'O']
categorical_cols

['status',
 'sex',
 'on_thyroxine',
 'query_on_thyroxine',
 'on_antithyroid_medication',
 'thyroid_surgery',
 'query_hypothyroid',
 'query_hyperthyroid',
 'pregnant',
 'sick',
 'tumor',
 'lithium',
 'goitre',
 'TSH_measured',
 'T3_measured',
 'TT4_measured',
 'T4U_measured',
 'FTI_measured',
 'TBG_measured']

In [15]:
thyroid_health.head()

        status   age sex on_thyroxine  ... FTI_measured   FTI TBG_measured TBG
0  hypothyroid  72.0   M            f  ...            y  10.0            n NaN
1  hypothyroid  15.0   F            t  ...            y  17.0            n NaN
2  hypothyroid  24.0   M            f  ...            y   0.0            n NaN
3  hypothyroid  24.0   F            f  ...            y   6.0            n NaN
4  hypothyroid  77.0   M            f  ...            y  44.0            n NaN

[5 rows x 26 columns]

In [ ]:
# Checking for Outliers
#

In [ ]:
# Checking for Anomalies
#

In [ ]:
# Identifying the Missing Data
#

In [ ]:
# Dealing with the Missing Data
#

In [ ]:
# More data cleaning procedures
#

## 6. Exploratory Analysis

In [ ]:
# Ploting the bivariate summaries and recording our observations
#

In [ ]:
# Data Reduction
#

## 7. Implementing the Solution

In [ ]:
# Implementing the Solution
#

## 8. Challenging the solution

> The easy solution is nice because it is, well, easy, but you should never allow those results to hold the day. You should always be thinking of ways to challenge the results, especially if those results comport with your prior expectation.

In [ ]:
# Reviewing the Solution 
#

## 9. Follow up questions

> At this point, we can refine our question or collect new data, all in an iterative process to get at the truth.

### a). Did we have the right data?

### b). Do we need other data to answer our question?

### c). Did we have the right question?